@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: "Figtree", sans-serif;
  --clr-primary-1: hsl(47, 88%, 63%);
  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsl(0, 0%, 50%);
  --clr-neutral-3: hsl(0, 0%, 7%);
}

body {
  font-family: var(--font-family-default);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-1);
}

img {
  display: block;
  max-width: 100%;
}

.card-container {
  background-color: var(--clr-neutral-1);
  border: 1px solid;
  margin: 0 1rem;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 8px 8px 0px 0px var(--clr-neutral-3);
  max-width: 21.25rem;
}

.flex-flow {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.small-gap {
  gap: 0.8rem;
}

.section-img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.section-status {
  font-size: 0.8rem;
}

.section-status h2 {
  font-weight: 700;
  background-color: var(--clr-primary-1);
  border-radius: 0.2rem;
  padding: 0.3rem 0.7rem;
}

.section-description {
  color: var(--clr-neutral-2);
  line-height: 1.5rem;
}

.section-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--clr-neutral-3);
}

.section-title:hover {
  cursor: pointer;
  color: var(--clr-primary-1);
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-author {
  font-weight: 800;
  font-size: 0.8rem;
}

.author-avatar {
  width: 2rem;
}
